################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.lastbuildstate
*.log
*.sdf
*.opendb
*.user
/DoorbellPi/obj/ARM/Debug/main.o
/DoorbellPi/obj/ARM/Debug
/DoorbellPi/bin/ARM/Debug/DoorbellPi.out
/DoorbellPi/bin/ARM/Debug
