################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.lastbuildstate
*.log
*.sdf
*.opendb
*.user
